.logo {
    position: relative;
    padding: 2em 0em 4em 0em;
    letter-spacing: 3px;
    text-align: center;
    color: #FFF;
    margin-top: 1rem;
}
.bars {
    position: relative;
    display: inline-block;
    padding: 0 6em 0 6em;
    box-shadow: 0px 1px 0px #445058, 0px -1px 0px #445058;
    height: 10px;
}
.name {
    position: relative;
    display: inline;
    padding: 0em 0.50em;
    top: -0.40em;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
    background: #293136;
    color: #FFF;
}
.description {
    display: block;
    margin-top: -0.25em;
    letter-spacing: 0.07em;
    font-size: 1.1em;
    color: #888;
    color: rgba(255, 255, 255, 0.5);
}